.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container,
.header-nav,
.nav-list,
.contacts-list {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 56px;
  padding: 24px 0;
}

.contacts-list {
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 20px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  display: block;
  padding: 24px 0;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
